body {
	background: #34227e;
    background: -moz-linear-gradient(top,#110540 0,#34227e 100%);
    background: -webkit-linear-gradient(top,#110540 0,#34227e 100%);
    background: linear-gradient(to bottom,#110540 0,#34227e 100%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
}

header {
	padding: 20px 0 0 10px;
}

#logo {
	background: url(https://scmedia.partycasino.com/$-$/3eba5be81291488b8ec29a4e83c98cda.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
}

div.right {
	float: right;
}

form {
	width: 100%;
  	margin: 0 auto;
    padding: 0.5em 0;
    border-radius: 2px;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

form div {
	width: 47%;
    float: left;
    box-sizing: border-box;
    max-height: 560px;
    overflow-y: overlay;
    overflow-x: hidden;
}

label {
    font-size: 12px;
    margin-right: 10px;
    color: whitesmoke;
    line-height: 1.5em;
    margin-left: -10px;
    vertical-align: middle;
}

input {
	width: 14px;
	height: 14px;
	margin: 2px 6px 15px 6px;
}

input[type="checkbox"] {
	width: 13px;
	height: 13px;
}

#output {
	display: block;
    width: 80%;
    height: 150px;
    margin: 50px auto 0px;
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}
